{% extends "zato/index.html" %}

{% block html_title %}Documentation{% endblock %}

{% block "extra_css" %}

    <style type="text/css">

        .ns-name {
            float:left;
            border:1px solid maroon;
        }

        .ns-options {
            float:right;
            border:1px solid navy;
        }

        #main-div {
            border:5px solid red;
        }

        #main-table {
            border:1px solid blue;
        }

        #spec-table {
            border:5px solid green;
            width:100%;
        }

    </style>

{% endblock %}

{% block "extra_js" %}
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/python" src="/static/brython/docs.py"></script>
{% endblock %}

{% block "content" %}
<h2 class="zato">Documentation</h2>

{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

{% include "zato/search-form.html" with page_prompt="Show documentation"%}

    {% if cluster_id %}
        <input type="hidden" id="cluster_id" value="{{ cluster_id }}" />
    {% endif %}

        <div id="docs-data" style="display:none">{{ response_inner|safe }}</div>

        <div id="markup">
            <table id="data-table" style="border:none">
                <tr>
                    <td><div id="main-div"></div></td>
                </tr>
            </table>
        </div>

{% endif %}

{% endblock %}
